@SCOPE:registry=https://europe-west1-npm.pkg.dev/carrotkitchen/npm-packages/
//europe-west1-npm.pkg.dev/carrotkitchen/npm-packages/:_password=""
//europe-west1-npm.pkg.dev/carrotkitchen/npm-packages/:username=oauth2accesstoken
//europe-west1-npm.pkg.dev/carrotkitchen/npm-packages/:email=not.valid@email.com
//europe-west1-npm.pkg.dev/carrotkitchen/npm-packages/:always-auth=true